#urlbar-background {
  border: none !important;
  box-shadow: none !important;
  background-color: var(--bg) !important;
}

#urlbar-input{
  text-align: center !important;
  color: var(--fg) !important
}

.urlbarView{ margin-top: 2px !important; }
.urlbarView-body-inner{ border-top-color: var(--accent) !important }


/*- - - - - - HIDE URL-BAR INFORMATION - - - - - - - - - - - -*/
#tracking-protection-icon-container, #urlbar-zoom-button {
  display: none !important;
}
/* Hide info icon for sites that don't have permissions */
#identity-box > #identity-icon {
	opacity: 0 !important; /* Make icons transparent */
	-moz-margin-end: -1.1em !important; /* Hide icons by offsetting them */
}

/*- - - - - - - AUTO HIDE RIGHT SIDE  - - - - - - - - - - - -*/
#page-action-buttons > *[class^=urlbar-icon]{
  margin-inline-end: -26px;
  opacity: 0;
  transition: margin-inline-end 200ms linear, opacity 200ms linear;
}
:root[uidensity="compact"] #page-action-buttons > *[class^=urlbar-icon]{ margin-inline-end: -22px; }
#page-action-buttons:hover > *[class^=urlbar-icon],
#page-action-buttons > *[class^=urlbar-icon][open],
#page-action-buttons > *[class^=urlbar-icon][open] ~ *[class^=urlbar-icon]{
  opacity: 1;
  margin-inline-end: 0px !important;
}

/*- - - - - - - - - Curve and center- - - - - - - - - - - - - - - -*/
/*Curve find (ctrl+f)*/
.findbar-textbox {
	border-radius: 26px 0 0 26px;
	border-right-color: #f9f9fa33 !important
}
.findbar-find-next{
	border-radius: 0 26px 26px 0;
}
.findbar-textbox[focused]~toolbarbutton{
  border-color: var(--toolbar-field-focus-border-color);
  border-left-color: #f9f9fa33;
}
.urlbar-history-dropmarker,
#urlbar:hover > .urlbar-textbox-container > .urlbar-history-dropmarker {
  display: none !important;
}


/* Hides the website name, keeping only the location abbrevation.*/
/* Hides the EV SSL label */
/*#identity-icon-label { 
  visibility: collapse !important;
}*/
/* Hide the green lock indicating SSL */
/*#urlbar[pageproxystate="valid"] :-moz-any(.verifiedDomain,.verifiedIdentity) #connection-icon {
  display: none !important;
}*/
/* Shows the label on identity box hover */
/*#identity-box:hover > #identity-icon-labels > #identity-icon-label {
  visibility: visible !important;
}*/