/* Color scheme */
:root{
	--fg:		var(--in-content-page-color);
	--fg-inactive: var(--in-content-box-info-background);
	--bg:		var(--in-content-page-background);

	--accent:	#778beb;
	--alert:	#ff4d4d;

	/* Palette */
	--color1:	#ff4d4d;
	--color2:	#38ada9;
	--color3:	#f7d794;
	--color4:	#546de5;
	--color5:	#786fa6;
	--color6:	#f3a683;
}
