/* Description: A dark right-click chrome-like context menu.*/
@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* HIDE UNWANTED */
#context-viewinfo, #context-viewsource, #context-inspect-a11y,
#context-sep-viewsource, #context-openlink,
#context-viewbgimage, #context-sep-viewbgimage,
#context-pocket, #context-linktopocket {
	display: none !important;
}

 /* Separator */
#inspect-separator {
	display: none;
	/* height: 10px; */
}

/* General body */
menupopup {
	-moz-appearance: none !important;
	background-color: var(--bg) !important;
	border: 3px var(--accent) solid !important;
	min-width: 280px !important;
	padding: 0px 0px 13px !important;
	border-radius: 8px;
}
/* Header */
menugroup {
	padding: 0px !important;
	background-color: var(--bg) !important;
}
.menuitem-iconic{
	color: var(--fg) !important;
}

/* Internal separator between items*/
menuseparator {
	-moz-appearance: none !important;
	background-color: var(--bg) !important;
	/* padding: 2px 0px !important; */
}

menuitem, menu {
	-moz-appearance: none !important;
	padding: 10px !important;
}
menu {
	color: var(--color3) !important;
	font-weight: bold;
}
menuitem {
	color: var(--bg) !important;
}
menuitem:hover, menu:hover, menu[open="true"], menuitem[_moz-menuactive="true"]	 {
	background-color: var(--color4) !important;
	color: var(--fg) !important;
}
menuitem > .menu-text, menuitem > .menu-iconic-text {
	color: var(--fg) !important;
}

menucaption {
	background-color: var(--color1) !important;
	color: white !important;
}
menulist {
	-moz-appearance: none !important;
	text-align: center !important;
	padding: 4px !important;
	background-color: var(--color5) !important;
	font-weight: bold !important;
}
menulist:hover {
	background-color: var(--accent) !important;
	color: var(--bg) !important;
}
#context-back > .menu-iconic-left, #context-forward > .menu-iconic-left, #context-reload > .menu-iconic-left, #context-stop > .menu-iconic-left, #context-bookmarkpage > .menu-iconic-left {
	padding: 0px !important;
}
.menu-iconic-left {
	-moz-appearance: none !important;
	padding: 0px 5px 0px 9px !important;
}
tooltip {
	-moz-appearance: none !important;
	background-color: var(--accent) !important;
	color: var(--fg) !important;
	border-radius: 5px;
	padding: 6.5px !important;
}

/* MOVE */
.panel-arrowcontainer, .panel-arrowcontainer, .panel-arrowcontent {
    border-radius: 10px !important;
}

