/*  GENERAL CONFIG CSS */

/* Hide the title bar and tabs */
#titlebar{ visibility: collapse; }
#sidebar { border-right: 0px solid black; }
#sidebar-header { visibility: collapse; }

/*Remove white flash before page load*/
@-moz-document url-prefix(about:), url-prefix(chrome://browser) {
   browser[type="content"],
  	browser[type="content-primary"] {
		background: var(--bg) !important;
	}
}

@-moz-document url(about:newtab), url(about:home) {
  .outer-wrapper {
  	background-color: black !important;
    color: grey !important;
  }
}

/*- - - - - - SCROLLBAR - - - - - - - - -*/
/* Removes scrollbars (like the one in "Edit this Bookmark" when you choose a folder to save) */
/*.hidevscroll-scrollbar {
	display: none !important;
}*/
