#main-window[privatebrowsingmode="temporary"] #urlbar[focused=true] {
	border-color: #9400FF !important;
}
#main-window[privatebrowsingmode="temporary"] #tabbrowser-tabs {
	--tab-line-color: #9400FF !important;
}
#main-window[privatebrowsingmode="temporary"] .tab-throbber::before {
	fill: #9400FF !important; opacity: 1 !important;
}
#main-window[privatebrowsingmode="temporary"] .tab-loading-burst[bursting]::before {
	fill: #9400FF !important;
}
