#sidebar-splitter{
    display:none;
}

#bookmarks-view treechildren::-moz-tree-image(container),
#PlacesToolbarItems toolbarbutton[container="true"],
#PlacesToolbarItems menu[container="true"] .menu-iconic-left,
#BMB_bookmarksPopup menu[container="true"] .menu-iconic-icon,
#bookmarksMenu menu[container="true"] .menu-iconic-icon,
.bookmark-item[container] {
        /* list-style-image: url("foldervert.png") !important; */
        fill: var(--color4) !important;
}

/*Sidebar to the right side
#browser { -moz-box-direction: reverse; }
*/
