/*- - Extension :: Tree Style Tab  - - - -*/
:root {
  --initial-width           : 30px;     /* Initial width of the sidebar*/
  --sidebar-width           : 250px;    /* Expanded width of the sidebar*/
  --toolbar-height          : 0;
  --menubar-height          : -40px;
  --toolmenubar-height      : -40px;
  --chrome-content-separator-color: none !important;
}

#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  z-index      : 1000 !important;
  position     : relative !important;
  margin-top   : -3px !important;
  min-width    : var(--initial-width) !important;
  max-width    : var(--initial-width) !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
  min-width    : var(--sidebar-width) !important;
  max-width    : var(--sidebar-width) !important;
  background   : var(--bg);
  transform    : translateX(calc(var(--initial-width) - var(--sidebar-width))) !important;
  transition   : all 0.2s ease-in-out;
}
/* move inner to show entire sidebar */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar:hover {
  transform : translateX(0) !important;
}
