/* paste this in tree style tab preferences or load this file*/

/* VARIABLES */
:root{
  /* Active tab */
  --active-tab-fg:	#F5F6FA;
  --active-tab-bg:	#778BEB;
  /* Background */
  --tab-fg:			#F5F6FA;
  --tab-bg:			#333641;
  --urgent-bg:		#E76F51;
  /* Last active extension */
  --last-active-bg:	#646A7F;
  /* Others */
  --tab-hover-color: #28282F;
}


/* ######### GENERAL CONFIG ######################## */
tab-item-substance {
      height: 50px;
      margin: 0px;
      padding-right: 6px;
      transition: all 0.3s ease-in !important;
}
.tab .label {
      margin-left: 5px;
}

tab-item tab-twisty {
      display: none;
}
.highlighter {
    display: none !important;
}

/* Hide close buttons on tabs. */
.tab .closebox {
	visibility: collapse;
}
.tab:hover .closebox{
	visibility: visible;
}

/* Hide the "new tab" button */
.newtab-button-box {
	display: none;
}

/* Sound button when a tab is playing music*/
.sound-button{
	visibility: collapse;
}
/* Adjust style for tab that is muted. */
.tab.muted {
	filter: grayscale(90%) opacity(90%);
}

/* ########## PRIVATE MODE ######################### */
/*.tab.private-browsing .label:before {
  content: "🕶";
  padding-right: 10px;
}*/

/* ######### RIGHT FAVICON ######################### */
tab-item tab-favicon {
      margin-left: 10px;
      order: 10;
      filter: grayscale(60%) opacity(80%);
      transition: all 0.2s ease-in-out;
}
tab-item.active tab-favicon {
      /*  transform: scale(120%);*/
      filter: opacity(100%);
}
tab-item:hover tab-favicon{
    display:none;
}
.tab:not(.group-tab):not([data-current-uri^="chrome:"]):not([data-current-uri^="about:addons"]):not([data-current-uri^="about:preferences"])
    .favicon
    .favicon-default::before {
    background: url("chrome://branding/content/identity-icons-brand.svg") no-repeat center / 100% !important;
    mask: none !important;
    fill: white;
}

/* ############## PINNED TAB ################### */
#tabbar{
  margin-top: 0px;
}
tab-item.pinned {
 	min-height: 30px;
	top: 96%;
}
tab-item.pinned tab-favicon {
  left: -10px;
}
tab-item.pinned:hover tab-favicon {
  display: initial;
}

/* ############## COLOR THEME ######################### */
tab-item.active {
	font-weight: bold;
}

.tab.last-active {
	background: var(--last-active-bg);
}
.tab.discarded {
	opacity: 0.5;
}

/* Show title of unread tabs with blue and italic font */
.tab.unread .label {
	font-style: italic;
	color: var(--urgent-bg);
}


/* Adjust style for tab that has sound playing. */
@keyframes pulse {
	0% {
		width: 0px;
		height: 0px;
		opacity: 1;
	}
	100% {
		width: 350px;
		height: 350px;
		opacity: 0;
		top: calc(50% - 175px);
		left: calc(50% - 175px);
	}
}
.tab.sound-playing .favicon::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background: var(--active-tab-bg);
	animation: pulse 2s ease-out 0s infinite;
	z-index: -1;
	opacity: 0;
}

/* ################# TAB COUNTING ####################### */
#tabbar {
  counter-reset: vtabs atabs tabs;
  /* vtabs tracks visible tabs, atabs tracks active tabs, tabs tracks all tabs */
}
tab-item:not(.collapsed):not(.discarded) {
  counter-increment: vtabs atabs tabs;
}
tab-item:not(.collapsed) {
  counter-increment: vtabs tabs;
}
tab-item:not(.discarded) {
  counter-increment: atabs tabs;
}
tab-item {
  counter-increment: tabs;
}
tab-item .extra-items-container.behind {
  z-index: unset !important;
}
tab-item .extra-items-container.behind::after {
  background: Highlight;
  color: HighlightText;
  content: counter(vtabs);
  font-size: x-small;
  right: 0.2em;
  padding: 0.2em;
  pointer-events: none;
  position: absolute;
  bottom: 0.2em;
  z-index: 1000;
}
tab-item .extra-items-container.behind::after {
  opacity: 0;
  transition: 0.2s;
}
tab-item:hover .extra-items-container.behind::after {
  opacity: 1;
}

/*############ CONTAINER ADDON #######################*/
.contextual-identity-marker {
  position: absolute !important;
  pointer-events: none;
  z-index: 0;

  bottom: 0 !important;
  left: 217px !important;
  right: 0 !important;
  top: 0px !important;

  width: 33px !important;
  height: 50px !important;

  opacity: 0.65;
}

