/*=======================*/
/*    __ _  (_)_ _  (_)  */
/*   /  ' \/ /  ' \/ /   */
/*  /_/_/_/_/_/_/_/_/    */
/*  ONLY THE MINIMUM     */
/*=======================*/

/* NAVBAR */
#urlbar-input{
  text-align: center !important;
}

/* HIDE THE TITLE BAR AND TABS */
#titlebar{ visibility: collapse; }
#sidebar { border-right: 0px solid black; }
#sidebar-header { visibility: collapse; }
