#PlacesToolbarItems {
  display: flex !important;
  justify-content: center !important;
}
toolbarbutton.bookmark-item[type="menu"] .toolbarbutton-icon{
    display: none !important;
}
#sidebar-search-container,
.sidebar-placesTree {
  font-family: 'JetBrains Mono Regular', sans-serif;
}

toolbarbutton.bookmark-item {
    padding: 0px 20px !important;
}
#PersonalToolbar{
	background: var(--accent) !important;
    height: 3px !important;
    min-height: 3px !important;
    max-height: 3px !important;
    padding:0px;
}
#PersonalToolbar:hover{
    height: 2em !important;
    min-height: 2em !important;
    max-height: 2em !important;
    padding: 0 6px 2px;
}
#PersonalToolbar #personal-bookmarks{
    opacity: 0;
}
#PersonalToolbar:hover #personal-bookmarks{
    opacity: 1;
}

#PersonalToolbar, #PersonalToolbar #personal-bookmarks{
    transition-delay: 1s !important;
}
#PersonalToolbar:hover, #PersonalToolbar:hover #personal-bookmarks{
    transition-delay: 0s !important;
}

:root[uidensity="compact"] toolbarbutton.bookmark-item:not(.subviewbutton) {
  margin: 3px 4px !important;
}
