@import "urlbar.css";
@import "bookmark.css";

/*- - - - - - - FORWARD,BACK BUTTON - - - - - - - - - -*/
#forward-button{
  list-style-image: url("icons/next.svg") !important;
}
#back-button{
  list-style-image: url("icons/previous.svg") !important;
}
/* autohide forward,back button */
#forward-button,
#back-button {
  transform:scale(1,1)!important;
  transition:margin-left 250ms  var(--animation-easing-function),
             opacity 250ms  var(--animation-easing-function),
             transform 250ms  var(--animation-easing-function)!important;
}
#forward-button[disabled='true'],
#back-button[disabled='true'] {
  margin-left: -28px !important;
  opacity: 0 !important;
  transform: scale(.8,.8) !important;
  pointer-events: none !important;
}
#forward-button .toolbarbutton-icon,
#back-button .toolbarbutton-icon {
  padding: calc(var(--toolbarbutton-inner-padding) + 1px) !important;
}

/*- - - - - - - DOWNLOADS BUTTON - - - - - - - - - -*/
#downloads-button {
  list-style-image: url("icons/download.svg") !important;
}

/*- - - - - - Hamburger Menu - - - - - - - - - - -*/
#PanelUI-menu-button {
    list-style-image: url("icons/hmenu.svg") !important;
}
#PanelUI-button,
#customization-panel-container,
#customization-panelWrapper .panel-arrow {
	-moz-box-ordinal-group: 0 !important;
	margin-right: -6px !important;
}
#appMenu-popup {
	margin-right: -258px !important;
}

#appMenu-popup .panel-arrow {
	margin-right: 248px !important;
}

/*- - - - - - ICONS ON OVERFLOWMENU - - - - - - - -*/
/* Hides "Customize Toolbar..." button */
#overflowMenu-customize-button {
  display: none !important;
}

/*- - - - - - CHANGE SIZE & COLOR - - - - - - - - -*/
#forward-button > .toolbarbutton-icon,
#back-button > .toolbarbutton-icon,
#downloads-button,
#nav-bar-overflow-button,
#PanelUI-button {
 transform: scale(.8,.8) !important;
 filter: brightness(0.7);
}
