/* Color scheme */
:root{
	--bg:		#333641;
	--fg:		#f5f6fa;
	--fg-inactive: 	#c4c4c8;

	--accent:	#778beb;
	--alert:	#ff4d4d;

	/* Palette */
	--color1:	#ff4d4d;
	--color2:	#38ada9;
	--color3:	#f7d794;
	--color4:	#546de5;
	--color5:	#786fa6;
	--color6:	#f3a683;
}
