/*  GENERAL CONFIG CSS */

/* Hide the title bar and tabs */
#titlebar{ visibility: collapse; }
#sidebar { border-right: 0px solid red; }
#sidebar-header { visibility: collapse; }

/*Remove white flash before page load*/
@-moz-document url-prefix(about:), url-prefix(chrome://browser) {
   browser[type="content"],
  	browser[type="content-primary"] {
		background: var(--bg) !important;
	}
}

/*- - - - - - SCROLLBAR - - - - - - - - -*/
/* Removes scrollbars (like the one in "Edit this Bookmark" when you choose a folder to save) */
.hidevscroll-scrollbar {
	display: none !important;
}
